<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Genshin GeoGuessr Fontain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Genshin Impact, Map, Guesser, Guess Image">
    <meta name="description" content="Guess a location from Genshin Impact by it's image">
    <meta name="author" content="Ernesto Seredinskiy">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://genshin-guesser.pythonanywhere.com/">
    <meta property="og:title" content="Locatoon Guesser | Gebshin Impact">
    <meta property="og:description" content="Guess a location from Genshin Impact by it's image">
    <meta property="og:image" content="https://genshin-guesser.pythonanywhere.com/images/preview.jpg">

    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/styleb.css">

    <link rel="stylesheet" href="/static/css/themes.css">
</head>
<body>
    <div id="game-container">
        <div id="header">
            <div id="timer">Time: 0s</div>
        </div>

        <div id="content">
            <div id="target-image-container">
                <img id="target-image" src="target-place.jpg" alt="Location to find" />
            </div>

            <div class="right-side-container">
                <select id="region-selector">
                    <option selected value="mondstadt">Мондштадт</option>
                    <option value="liyue">Ли Юэ</option>
                    <option value="inazuma">Инадзума</option>
                    <option value="sumeru">Сумеру</option>
                    <option value="fontaine">Фонтейн</option>
                    <option value="natlan">Натлан</option>
                </select>

                <div id="map-container">
                    <div id="map"></div>
                </div>
            </div>
        </div>

        <div id="controls">
            <button id="submit-btn" disabled>Submit Guess</button>
            <div id="result"></div>
        </div>
    </div>

    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="static/js/game_script.js"></script>
    <script src="static/js/theme.js"></script>

</body>
</html>
